In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-1.2.0-py2.py3-none-any.whl.metadata (6.1 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-4.0.0-py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Collecting curl_cffi<0.14,>=0.7 (from yfinance)
  Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\asus\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-16.0-cp313-cp313-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: cffi>=1.12.0 in c:\users\asus\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\asus\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.10.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\asus\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)
Downloading yfinance-1.2.0-py2.py3-none-any.whl (130 kB)
Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.6 MB ? eta -:--:--
   ------------ --------------------------- 0.5/1.6 MB 1.1 MB/s eta 0:00:01
   ------------ --------------------------- 0.5/1.6 MB 1.1 MB/s eta 0:00:01
   ------------------- -------------------- 0.8/1.6 MB 824.1 kB/s eta 0:00:02
   ------------------------- -------------- 1.0/1.6 MB 835.8 kB/s eta 0:00:01
   ------------------------- -------------- 1.0/1.6 MB 835.8 kB/s eta 0:00:01
   -------------------------------- ------- 1.3/1.6 MB 851.8 kB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 890.3 kB/s eta 0:00:00
Downloading peewee-4.0.0-py3-none-any.whl (139 kB)
Downloading websockets-16.0-cp313-cp313-win_amd64.whl (178 kB)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15618 sha256=083f78513ca7b80f128c8b7934e39ef91cd19a7e50fd3d4d7d7dd26c4cba37ec
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\1e\df\0f\e2bbb22d689b30c681feb5410ab64a2523437b34c8ecfc6476
Successfully built multitasking
Installing collected packages: peewee, multitasking, websockets, curl_cffi, yfinance

   ---------------------------------------- 0/5 [peewee]
   ---------------- ----------------------- 2/5 [websockets]
   ------------------------ --------------- 3/5 [curl_cffi]
   -------------------------------- ------- 4/5 [yfinance]
   -------------------------------- ------- 4/5 [yfinance]
   ---------------------------------------- 5/5 [yfinance]

Successfully installed curl_cffi-0.13.0 multitasking-0.0.12 peewee-4.0.0 websockets-16.0 yfinance-1.2.0

  DEPRECATION: Building 'multitasking' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'multitasking'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [4]:
import yfinance as yf
import pandas as pd

In [5]:
data = yf.download("RELIANCE.NS",
start="2015-01-01",end="2025-01-01")
data.head()

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['RELIANCE.NS']: TypeError("'NoneType' object is not subscriptable")

Empty DataFrame
Columns: [(Adj Close, RELIANCE.NS), (Close, RELIANCE.NS), (High, RELIANCE.NS), (Low, RELIANCE.NS), (Open, RELIANCE.NS), (Volume, RELIANCE.NS)]
Index: []

In [6]:
data.to_csv("reliance_stock.csv")

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   (Adj Close, RELIANCE.NS)  0 non-null      float64
 1   (Close, RELIANCE.NS)      0 non-null      float64
 2   (High, RELIANCE.NS)       0 non-null      float64
 3   (Low, RELIANCE.NS)        0 non-null      float64
 4   (Open, RELIANCE.NS)       0 non-null      float64
 5   (Volume, RELIANCE.NS)     0 non-null      float64
dtypes: float64(6)
memory usage: 0.0 bytes

In [8]:
data.isnull().sum()

Price      Ticker
Adj Close  RELIANCE.NS    0
Close      RELIANCE.NS    0
High       RELIANCE.NS    0
Low        RELIANCE.NS    0
Open       RELIANCE.NS    0
Volume     RELIANCE.NS    0
dtype: int64

In [9]:
data.reset_index(inplace=True)
data['Date']=
pd.to_datetime(data['Date'])
data=data.sort_values(by='Date')
data.head()

SyntaxError: invalid syntax (2880851226.py, line 2)

In [10]:
data.reset_index(inplace=True)
data['Date']=
pd.to_datetime(data['Date'])
data=data.sort_values(by='Date')
data.head()

SyntaxError: invalid syntax (2880851226.py, line 2)

In [11]:
data.reset_index(inplace=True)
data.head()

Empty DataFrame
Columns: [(Date, ), (Adj Close, RELIANCE.NS), (Close, RELIANCE.NS), (High, RELIANCE.NS), (Low, RELIANCE.NS), (Open, RELIANCE.NS), (Volume, RELIANCE.NS)]
Index: []

In [12]:
data['Date']=
pd.to_datetime(data['Date'])
data=data.sort_values(by='Date')
data.head()

SyntaxError: invalid syntax (2430098447.py, line 1)

In [13]:
data['Date'] = pd.to_datetime(data['Date'])
data = data.sort_values(by='Date')
data.head()

Empty DataFrame
Columns: [(Date, ), (Adj Close, RELIANCE.NS), (Close, RELIANCE.NS), (High, RELIANCE.NS), (Low, RELIANCE.NS), (Open, RELIANCE.NS), (Volume, RELIANCE.NS)]
Index: []

In [14]:
data.columns =
data.columns.get_level_values(0)
data.head()

SyntaxError: invalid syntax (2131154745.py, line 1)

In [15]:
data.columns = data.columns.get_level_values(0)
data.head()

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume]
Index: []

In [16]:
data = data.drop(columns=['Price'])
data.head()

KeyError: "['Price'] not found in axis"

In [17]:
data.isnull().sum()

Price
Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

In [18]:
data = data.sort_values(by='Date')
data.head()

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume]
Index: []

In [19]:
data['MA_7'] =
data['Close'].rolling(window=7).mean()
data.head()

SyntaxError: invalid syntax (3327326048.py, line 1)

In [20]:
data['MA_7'] = data['Close'].rolling(window=7).mean()
data.head()

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume, MA_7]
Index: []

In [21]:
data['MA_30'] = data['Close'].rolling(window=30).mean()
data.head()

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume, MA_7, MA_30]
Index: []

In [22]:
data['Lag_1'] = data['Close'].shift(1)
data.head()

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume, MA_7, MA_30, Lag_1]
Index: []

In [23]:
data['Price_Change'] = data['Close']-data['Open']
data.head()

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume, MA_7, MA_30, Lag_1, Price_Change]
Index: []

In [24]:
data['Volatility'] = data['High']-data['Low']
data.head()

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume, MA_7, MA_30, Lag_1, Price_Change, Volatility]
Index: []

In [25]:
data = data.dropna()
data.head()

Empty DataFrame
Columns: [Date, Adj Close, Close, High, Low, Open, Volume, MA_7, MA_30, Lag_1, Price_Change, Volatility]
Index: []